@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an app to store and view books and authors. You can add your own and view all the books or only books writte nby a certain author. You can also edit and delete any book or author stored.</p>
</div>
